<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415820909922-c2j3dri1m4khp7u9264edfu2h1kucdr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415820909922-c2j3dri1m4khp7u9264edfu2h1kucdr2</string>
	<key>API_KEY</key>
	<string>AIzaSyC5OazxbpJrS93YQKeyBnexLOJBI0Xrqq8</string>
	<key>GCM_SENDER_ID</key>
	<string>415820909922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.airidenative</string>
	<key>PROJECT_ID</key>
	<string>airide-app</string>
	<key>STORAGE_BUCKET</key>
	<string>airide-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415820909922:ios:73325ac84a208ce2be303b</string>
</dict>
</plist>